/* Aufgabe: Aufgabe Nummer 2 - Mau Mau Name: Lisa Sanchez y Bittner
Matrikel: 260502 - Datum: 07.04.2019
Der Code wurde in Zusammenarbeit mit Bastian Culig, Daniel Mainberger, Kathrin Wurz, Carlotta Reinders und Marvin Kübler erarbeitet.
Hiermit versichere ich, dass ich diesen Code selbst geschrieben habe. Er wurde nicht kopiert und auch nicht diktiert. */


html {
    font-family: 'Amatic SC', cursive;
    background-color: #C59688  ;
}



h1 { font-size: 70px;
    margin-top:2px;
    color: black;
    text-align: center;
    text-decoration: black;
}


.CardBorder{
    border:white solid 3px;
    width: 160px;
    height: 224px;
    margin: 25px;
    font-weight: bold;
    font-size: 5rem;
    display: inline-block;
    text-align: center;
}
}

#Handkarten { 
    width: 160px;
    height: 224px;
    margin-top: 250px;
    font-weight: bold;
    font-size: 70px;
    display: inline-block;
    text-align: center;
    float: left;
    margin:25px;

}


#nachziehStapel {
    width: 160px;
    height: 224px;
    font-weight: bold;
    font-size: 70px;
    display: inline-block;
    text-align: center;

    
}

.kartenrüecken { 
    width: 160px;
    height: 224px;
    margin: 25px;
    font-weight: bold;
    font-size: 5rem;
    display: inline-block;
    text-align: center;

}

.rot{
    color: #C22E2E  ;
}

.schwarz{
    color: black;
}

.Symbol{
    height: 50px;
    margin: 25px 25px 25px 25px;
}



img { border: white solid 2px;
    width: 160px;
    height: 224px;
    font-weight: bold;
    font-size: 5rem;
    display: inline-block;
    text-align: center;
}

