/* Endabgabe: 
Aufgabe: Endabgabe - CANVAS
Name: Lisa Sanchez y Bittner
Matrikel: 260502 
Datum: 28.07.2019
Hiermit versichere ich, dass ich diesen Code selbst geschrieben habe. Er wurde nicht kopiert und auch nicht diktiert. */


canvas { 
        border: 5px solid #00b1f2;
        
}

html { background-color:#6CA1F0

}

button { background-color: rgb(64, 248, 190);
        color:black;
        border: 2px black solid;
        width:130px;
        height:40px;
        font-family: 'Shadows Into Light Two', cursive;
        font-size:10px;
        position: absolute;
        right:55px;
        bottom:20px;
       
}

#Punktesammlung { border: solid 2px rgb(255, 255, 255);
                 position: absolute;
                 left: 1050px;
                 height: 690px;
                 width: 250px;
                 color:white;


}

#NameID {font-family: Arial;
        font-size:20px;
        text-align: center;
        color: white;

}

#PunkteID {font-family: Arial;
        font-size:20px;
        text-align: center;
        color: white;
}

h2 { font-family: Arial;
        font-size:25px;
        text-align: center;
        color: white;

}