/* Endabgabe: 
Aufgabe: Endabgabe - CANVAS
Name: Lisa Sanchez y Bittner
Matrikel: 260502 
Datum: 28.07.2019
Hiermit versichere ich, dass ich diesen Code selbst geschrieben habe. Er wurde nicht kopiert und auch nicht diktiert. */


canvas { 
        border: 5px solid #00b1f2;
        
}

html { background-color:#6CA1F0

}

button { background-color: rgb(64, 248, 190);
        color:black;
        border: 2px black solid;
        width:130px;
        height:40px;
        font-family: 'Shadows Into Light Two', cursive;
        font-size:10px;
        margin-top:20px;
        padding-left: 0px;
        padding-bottom:0px;

}
