/* Aufgabe 4: 
Aufgabe: Aufgabe Nummer 4 - Eisdealer
Name: Lisa Sanchez y Bittner
Matrikel: 260502 
Datum: 21.04.2019
Hiermit versichere ich, dass ich diesen Code selbst geschrieben habe. Er wurde nicht kopiert und auch nicht diktiert. */



/* ANGEPASST FÜR SMARTPHONE MAXIMALE WEITE:480px*/

html { background-color: rgb(185, 206, 214);
}

h1 { font-family: 'Prata', serif;
     color:white;
     font-size: 45px;
     text-align: center;
     text-transform: uppercase;
}

main { font-family: 'Thasadith', sans-serif;
    text-align: left;
    font-size:18px;
}

#eissorten { position: absolute;
    top: 120px;
    width: 130px;
    height: 150px;
    border: 1px solid black;
    padding-bottom: 10px;
    padding-left: 195px;
    background-color: white;
    margin: 10px;
}

#toppings { position: absolute;
    top: 300px;
    width: 130px;
    height: 130px;
    border: 1px solid black;
    padding-bottom: 10px;
    padding-left: 195px;
    background-color: white;
    margin: 10px;
    
}


#behälter { position: absolute;
    top: 460px;
    width: 130px;
    height: 80px;
    border: 1px solid black;
    padding-bottom: 10px;
    padding-left: 195px;
    background-color: white;
    margin: 10px;
}

#lieferoptionen { position: absolute;
    top: 600px;
    width: 130px;
    height: 80px;
    border: 1px solid black;
    padding-bottom: 10px;
    padding-left: 195px;
    background-color:rgba(210, 238, 177, 0.931);
    margin: 10px;
}

#adresse { position: absolute;
    top: 710px;
    width: 130px;
    height: 500px;
    border: 1px solid black;
    padding-bottom: 10px;
    padding-left: 195px;
    background-color: rgba(210, 238, 177, 0.931);
    margin: 10px;
}

#bestellUebersicht { position: absolute;
    top: 1250px;
    width: 130px;
    height: 440px;
    border: 1px solid black;
    padding-bottom: 10px;
    padding-left: 195px;
    background-color: rgba(210, 238, 177, 0.931);
    margin: 10px;
    bottom:50px;
}

fieldset {text-align: left;
}

label { text-align: left;
}

button { background-color: rgb(221, 174, 207);
         color:black;
         border: 2px black solid;
         width:90px;
         height:50px;
         margin-top:310px;
         margin-left:20px;
}

h2 { margin-left:-125px;
}







/*MEDIAQUERY*/
/*FÜR DESKTOP MINIMALE WEITE: 1025px*/
@media(min-width:1025px) { 

fieldset { float: left;
}
}

