/* <!--Aufgabe 3: 
Aufgabe: Aufgabe Nummer 3 - Events Interaktiv: Mau Mau Name: Lisa Sanchez y Bittner
Matrikel: 260502 - Datum: 14.04.2019
Der Code wurde in Zusammenarbeit mit Kathrin Wurz und Carlotta Reinders erarbeitet.
Hiermit versichere ich, dass ich diesen Code selbst geschrieben habe. Er wurde nicht kopiert und auch nicht diktiert. */



html {font-family: 'Amatic SC', cursive;
    background-color: #C59688  ;
}



h1 {color:black;
    text-align: center;
    font-size: 4rem;
}


.kartenrücken{
    width: 160px;
    height: 224px;
    margin: 0px;
}


.rot{ color:#D24949;
}

.schwarz{ color: black;
}


.styling{ border: black solid 2px;
    width: 160px;
    height: 224px;
    margin: 25px;
    font-weight: bold;
    font-size: 5rem;
    display: inline-block;
    text-align: center;
}

.styling * { pointer-events: none;



}
.Symbol{ height: 50px;
         margin: 25px 25px 25px 25px;
}

.stylingSymbol { height: 50px;
                 margin: 25px 25px 25px 25px;
}

#nachziehStapel {width: 160px;
                height: 224px;
                margin-bottom: 50px;

}